<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Vitor Cunha">
	<meta name="image" property="og:image" content="https://i.postimg.cc/xjXmG1MH/ps-logo.jpg">
	<meta name="description" property="og:description" content="Promo Scraper - By Vitor Cunha">

	<title>Promo Scraper by Vitor Cunha</title>
	{% load static %}

	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'site.webmanifest' %}">
	<link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- Custom fonts for this template-->
	<link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template-->
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/tags.css" %}" rel="stylesheet">
	<!-- Bootstrap core JavaScript-->
	<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<!-- Core plugin JavaScript-->
	<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

	<script src="{% static 'js/tags.js' %}"></script>

	<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


</head>
<body>
<div class="container" style="padding: 30px;">
	<div class="row justify-content-center">

		<form id="form" action="{% url 'index' %}" method="post">
			{% csrf_token %}
			<a href="{% url 'home' %}" style="padding-left: 5%;" title="Go Home"><i class="fas fa-home fa-lg"
																																							style="color: #5a6268;"></i> </a>
			<a href="{% url 'logout' %}" style="float: right; padding-right: 5%;" title="Logout"><i
				class="fas fa-sign-out-alt fa-lg" style="color: #5a6268;"></i> </a><br><br>
			<h2 class="text-center">Promo Scraper</h2>
			<h4 class="text-center" style="margin-bottom:25px;">By <a href="https://vitorcunha.me">Vítor Cunha</a></h4>

			<script>$(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
			</script>
			<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
							title="The words you enter will be the keywords that a search algorithm will use on the offer sites.
							 If successful, it will send you an email containing the offer link. The algorithm will run every X hours
							  you select, looking for possible new matches. It will search for offers from the last two days in the offer websites.">
				How does it work?
			</button>
			<br><br>
			{% if error %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
						{{ throw_error }}
					</div>
				{% endif %}
				{% if success %}
					<div class="alert alert-success" role="alert">
						{{ success }}
					</div>
				{% endif %}
			<br>
			<label>Add words for products and brands of your interest (maximum 8).</label>
			<input id="form-tags-1" name="tags-1" type="text" value="{{ user.keywords }}" required>
			<label for="exampleFormControlSelect2">How often do you want the algorithm to look for offers?</label>
			<select class="form-control" name="interval">
				<option selected="selected" value="6">Every 6 hours</option>
				<option value="12">Every 12 hours</option>
				<option value="24">Every 24 hours (once per day)</option>
			</select>
			<br>
			<button type="submit" onclick="validateForm()" class="btn btn-primary">Submit</button>
			<hr>
			<br>
			<span>Wanna search now?</span>
			<br><br>
			{% if user.instant_searches_left and user.instant_searches_left > 0 %}
				<button type="" data-toggle="tooltip" data-placement="auto"
							title="Don't want to wait for the next search? Use an instant search!
							It will use one of your instant searches and run the algorithm right away."
								onclick="" class="btn btn-secondary">Search now</button>
			{% else %}
				<button type="" onclick="" class="btn btn-secondary" disabled>Search now</button>
			{% endif %}
			<br><br>
			<span>You have <strong>{{ user.instant_searches_left }}</strong> instant searches left.</span>
			<br><br>
			<hr>
			<h3>Check out matches we already found for you!</h3>
			{% if matches %}
				<p>Matches found: {{ matches|length }}</p>

			<div class="row">
				{% for match in matches %}
					<div class="card col-6 mt-2 mb-2" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{ match.name }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">Price: R$ {{ match.price }}</h6>
							<p class="card-text">{% if match.coupon %}{{ match.coupon }}{% else %}No Coupon found.{% endif %}</p>
							<a href="{{ match.link }}" class="card-link">Product link</a>
							<img src="{{ match.image }}" class="card-img-top" alt="...">
						</div>
					</div>
					{% if forloop.counter|divisibleby:2 %}
						<!-- Add a new row after every 2 cards -->
						</div><div class="row">
					{% endif %}
					<br>
				{% endfor %}
			</div>

				{% else %}
				<p>No matches found.</p>
			{% endif %}

			<script>
        function validateForm() {
          let input = document.getElementById("form-tags-1").value;

          if (input === "") {
            alert("Input words can't be empty");
          }
        }
			</script>
		</form>
	</div>
</div>
</body>
</html>