{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		<p>Hi {{ user.username }}!</p>
		<p><a href="">Go to Promo Scraper</a></p>
		<button class="btn btn-secondary"><a href="{% url 'logout' %}">Logout</a></button>
	{% else %}
		<p>You are not logged in.</p>
		<button class="btn btn-secondary"><a href="{% url 'login' %}">Login</a></button>
		<br>
		<br>
		<p>Do not have an account? Register below.</p>
		<button class="btn btn-secondary"><a href="{% url 'register' %}">Register</a></button>
	{% endif %}
{% endblock %}